body{
    background:#4C4848;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    .skill{
        .row{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .stack{
        background: black;
    }
    .port-item{
        cursor: pointer;
    }
}